@import 'normalize.scss';

// === Veriables ===
$roboto: 'Roboto', sans-serif;

$hammersmith: 'Hammersmith One', sans-serif;

$playfair: 'Playfair Display', serif;

$blue-color: #09c0bb;

$black-color: #413d4b;
// === / Veriables ===

// === Шаблоны ===
    %blue-button {
        display: inline-block;
        font-family: $hammersmith;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: $blue-color;
        border: 1px solid $blue-color;
        border-radius: 1px;
        padding: 10px 15px 10px 15px;
    }
// === / Шаблоны ===

*{
    box-sizing: border-box;
}

.container {
    width: 940px;
    margin: 0 auto;
}
.header {
    color: #fff;
    background: url(../img/header-background.png) no-repeat 50% 50%;
    background-size: cover;
    min-height: 100vh;
    &-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        &__logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: $blue-color;
            width: 128px;
            height: 50px;
            &-text{
                font-family: $roboto;
                font-size: 30px;
                font-weight: 100;
            }
        }
        &__nav{
            display: flex;
            justify-content: space-between;
            width: 526px;
            &-link{
                text-decoration: none;
                color: #fff;
                font-size: 13px;
                font-family: $roboto;
                font-weight: 900;
                &:hover{
                    color: $blue-color;
                    transition: 0.2s;
                }
            }
        }
    }
    &-promo {
        width: 770px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            font-family: $playfair;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 0.32px;
            margin-top: 160px;
            position: relative;
            &:after{
                position: absolute;
                content: '';
                border: 1px solid $blue-color;
                color: $blue-color;
                width: 50px;
                top: 60px;
                right: 215px;
            }
        }
        &__subtitle{
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.7px;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
        &__button{
            @extend %blue-button;
        }
    }
}

.story{
    color: $black-color;
    padding: 70px 0px;
    &-wraper{
        display: flex;
        justify-content: space-between;
        &__image{}
        &__description{
            width: 540px;
            &-title{
                font-family: $playfair;
                font-size: 22px;
                font-weight: 700;
                color: $black-color;
                letter-spacing: 1.1px;
                margin-bottom: 25px;
            }
            &-text{
                font-family: $roboto;
                font-size: 14px;
                font-weight: 300;
                color: $black-color;
                letter-spacing: 0.42px;
                margin-bottom: 30px;
            }
            &-button a{
                @extend %blue-button;
                &:hover{
                    color: #13102d;
                    background-color: $blue-color;
                    transition: 0.5s;
                }
            }
        }
    }
}

.video{
    background: url(../img/video-image.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 200px 0px;
    color: #fff;
    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image{
            margin-bottom: 30px;
        }
        &__title{
            font-family: $roboto;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.8px;
        }
    }
}

.expertise{
    color: $black-color;
    padding: 70px 0px 30px 0px;
    &-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        &__title{
            font-family: $playfair;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            margin-bottom: 15px;
        }
        &__subtitle{
            color: #2f2d35;
            font-family: $playfair;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.05px;
            position: relative;
            &::after{
                position: absolute;
                content: ' ';
                border: 1px solid $black-color;
                width: 50px;
                color: $black-color;
                top: 35px;
                right: 43%;
            }
        }
    }
    &-content{
        display: flex;
        flex-direction: column;
        &__row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &:first-child{
                border-bottom: 1px solid #bfc1c980;
            }
            &-item{
                width: 320px;
                height: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 35px 35px 35px 35px;
                &:first-child{
                    border-right: 1px solid #bfc1c980;
                }
                &:last-child{
                    border-left: 1px solid #bfc1c980;
                }
                &__image{

                }
                &__title{
                    font-family: $roboto;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0.7px;
                }
                &__subtitle{
                    font-family: $roboto;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.7px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }
    }
}

.team{
    background: url(/img/team-background.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 60px 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    &-top{
        &__title{
            font-family: $playfair;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            margin-bottom: 16px;
            text-align: center;
        }
        &__subtitle{
            font-family: $playfair;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.05px;
            color: #f9f9f9;
            text-align: center;
            margin-bottom: 65px;
            position: relative;
            &::after{
                position: absolute;
                content: ' ';
                border: 1px solid #fff;
                width: 50px;
                color: #fff;
                top: 35px;
                right: 47%;
            }
        }
    }
    &-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #e1e1e1;
            &-image img{
                width: 220px;
                height: auto;
            }
            &-name{
                font-family: $roboto;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.7px;
                color: #fff;
                padding-top: 20px;
                padding-bottom: 10px;
            }
            &-post{
                font-family: $roboto;
                font-size: 13px;
                font-weight: 300;
                color: #fafafa;
                padding-bottom: 25px;
            }
        }
    }
    &-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        &__title{
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
            color: #f3f3f3;
            padding-bottom: 25px;
        }
        &__button a{
            @extend %blue-button;
        }
    }
}

.works{
    padding-top: 70px;
    padding-bottom: 70px;
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 70px;
        &__title{
            font-family: $playfair;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            color: $black-color;
        }
        &__link{
            position: relative;
        }
        &__link a{
            text-decoration: none;
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            color: $black-color;
            letter-spacing: 0.7px;
            &:hover{
                color: $blue-color;
                transition: 0.2s;
            }
        }
        &__link img{
            position: absolute;
            top: 3px;
            right: -15px;
        }
    }
    &-content{
        height: 300px;
        &__item{
        }
        &__item img{
            width: 98.7vw;
            height: 300px;
        }
    }
    &-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &-button a{
        margin-top: 70px;
        @extend %blue-button;
        &:hover{
            color: #13102d;
            background-color: $blue-color;
            transition: 0.5s;
        }
    }
}