@import 'normalize.scss';

// === Veriables ===
$roboto: 'Roboto', sans-serif;

$hammersmith: 'Hammersmith One', sans-serif;

$playfair: 'Playfair Display', serif;

$blue-color: #09c0bb;

$black-color: #413d4b;
// === / Veriables ===

// === Шаблоны ===
    %blue-button {
        display: inline-block;
        font-family: $hammersmith;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: $blue-color;
        border: 1px solid $blue-color;
        border-radius: 1px;
        padding: 10px 15px 10px 15px;
    }
// === / Шаблоны ===

*{
    box-sizing: border-box;
}

.container {
    width: 940px;
    margin: 0 auto;
}
.header {
    color: #fff;
    background: url(../img/header-background.png) no-repeat 50% 50%;
    background-size: cover;
    min-height: 100vh;
    &-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        &__logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: $blue-color;
            width: 128px;
            height: 50px;
            &-text{
                font-family: $roboto;
                font-size: 30px;
                font-weight: 100;
            }
        }
        &__nav{
            display: flex;
            justify-content: space-between;
            width: 526px;
            &-link{
                text-decoration: none;
                color: #fff;
                font-size: 13px;
                font-family: $roboto;
                font-weight: 900;
                &:hover{
                    color: $blue-color;
                    transition: 0.2s;
                }
            }
        }
    }
    &-promo {
        width: 770px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            font-family: $playfair;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 0.32px;
            margin-top: 160px;
            position: relative;
            &:after{
                position: absolute;
                content: '';
                border: 1px solid $blue-color;
                color: $blue-color;
                width: 50px;
                top: 60px;
                right: 215px;
            }
        }
        &__subtitle{
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.7px;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
        &__button{
            @extend %blue-button;
        }
    }
}

.story{
    color: $black-color;
    padding: 70px 0px;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        &__description{
            width: 540px;
            &-title{
                font-family: $playfair;
                font-size: 22px;
                font-weight: 700;
                color: $black-color;
                letter-spacing: 1.1px;
                margin-bottom: 25px;
            }
            &-text{
                font-family: $roboto;
                font-size: 14px;
                font-weight: 300;
                color: $black-color;
                letter-spacing: 0.42px;
                margin-bottom: 30px;
            }
            &-button a{
                @extend %blue-button;
                &:hover{
                    color: #13102d;
                    background-color: $blue-color;
                    transition: 0.5s;
                }
            }
        }
    }
}

.video{
    background: url(../img/video-image.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 200px 0px;
    color: #fff;
    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image{
            margin-bottom: 30px;
        }
        &__title{
            font-family: $roboto;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.8px;
        }
    }
}

.expertise{
    color: $black-color;
    padding: 70px 0px 30px 0px;
    &-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        &__title{
            font-family: $playfair;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            margin-bottom: 15px;
        }
        &__subtitle{
            color: #2f2d35;
            font-family: $playfair;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.05px;
            position: relative;
            &::after{
                position: absolute;
                content: ' ';
                border: 1px solid $black-color;
                width: 50px;
                color: $black-color;
                top: 35px;
                right: 43%;
            }
        }
    }
    &-content{
        display: flex;
        flex-direction: column;
        &__row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &:first-child{
                border-bottom: 1px solid #bfc1c980;
            }
            &-item{
                width: 320px;
                height: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 35px 35px 35px 35px;
                &:first-child{
                    border-right: 1px solid #bfc1c980;
                }
                &:last-child{
                    border-left: 1px solid #bfc1c980;
                }
                &__title{
                    font-family: $roboto;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0.7px;
                }
                &__subtitle{
                    font-family: $roboto;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.7px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }
    }
}

.team{
    background: url(/img/team-background.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 60px 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    &-top{
        &__title{
            font-family: $playfair;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            margin-bottom: 16px;
            text-align: center;
        }
        &__subtitle{
            font-family: $playfair;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.05px;
            color: #f9f9f9;
            text-align: center;
            margin-bottom: 65px;
            position: relative;
            &::after{
                position: absolute;
                content: ' ';
                border: 1px solid #fff;
                width: 50px;
                color: #fff;
                top: 35px;
                right: 47%;
            }
        }
    }
    &-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #e1e1e1;
            &-image img{
                width: 220px;
                height: auto;
            }
            &-name{
                font-family: $roboto;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.7px;
                color: #fff;
                padding-top: 20px;
                padding-bottom: 10px;
            }
            &-post{
                font-family: $roboto;
                font-size: 13px;
                font-weight: 300;
                color: #fafafa;
                padding-bottom: 25px;
            }
        }
    }
    &-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        &__title{
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
            color: #f3f3f3;
            padding-bottom: 25px;
        }
        &__button a{
            @extend %blue-button;
        }
    }
}

.works{
    padding-top: 70px;
    padding-bottom: 70px;
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 70px;
        &__title{
            font-family: $playfair;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            color: $black-color;
        }
        &__link{
            position: relative;
        }
        &__link a{
            text-decoration: none;
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            color: $black-color;
            letter-spacing: 0.7px;
            &:hover{
                color: $blue-color;
                transition: 0.2s;
            }
        }
        &__link img{
            position: absolute;
            top: 3px;
            right: -15px;
        }
    }
    &-content{
        height: 300px;
        &__item img{
            width: 98.7vw;
            height: 300px;
        }
    }
    &-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &-button a{
        margin-top: 70px;
        @extend %blue-button;
        &:hover{
            color: #13102d;
            background-color: $blue-color;
            transition: 0.5s;
        }
    }
}

.comments{
    background: url(../img/comments-bg.png) 0 0 no-repeat;
    background-size: cover;
    color: #fff;
    &-wrapper{}
}

.form{
    padding: 70px;
    &-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__feedback{
            display: flex;
            flex-direction: column;
            width: 450px;
            &-title{
                font-size: 22px;
                font-family: $playfair;
                font-weight: bold;
                color: $black-color;
                margin-bottom: 35px;
            }
            &-form{
                display: flex;
                flex-direction: column;
                input{
                    height: 45px;
                    padding: 0px 20px;
                    font-size: 14px;
                    font-family: $roboto;
                    font-weight: 300;
                    color: #a09ea5;
                    outline: none;
                    border: 1px solid #e5e5e5;
                    margin-bottom: 25px;
                    &:hover{
                        border-color: $blue-color;
                        transition: 0.5;
                    }
                }
                textarea{
                    height: 200px;
                    resize: none;
                    padding: 15px 20px;
                    font-size: 14px;
                    font-family: $roboto;
                    font-weight: 300;
                    color: #a09ea5;
                    outline: none;
                    border: 1px solid #e5e5e5;
                    margin-bottom: 25px;
                    &:hover{
                        border-color: $blue-color;
                        transition: 0.5;
                    }
                }
                button{
                    @extend %blue-button;
                    width: 120px;
                    background-color: #fff;
                    &:hover{
                        color: #13102d;
                        background-color: $blue-color;
                        transition: 0.5s;
                        cursor: pointer ;
                    }
                }
            }
        }
        &__clients{
            width: 400px;
            &-title{
                font-size: 22px;
                font-family: $playfair;
                font-weight: bold;
                color: $black-color;
                margin-bottom: 35px;
            }
            &-content{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &__column-one{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        margin-bottom: 50px;
                    }
                }
                &__column-two{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

.footer{
    background: url(/img/footer-bg.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 65px 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    &__info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-logo{
            max-width: 290px;
            &__logo{
                font-size: 30px;
                font-family: $roboto;
                font-weight: 100;
                color: $blue-color;
                position: relative;
                padding-left: 54px;
                &::before{
                    content: url(/img/header-logo.png);
                    position: absolute;
                    width: 44px;
                    height: 50px;
                    left: 0px;
                    top: -5px;
                }
            }
            
            &__text{
                font-size: 14px;
                font-family: $roboto;
                font-weight: 300;
                color: #fff;
                line-height: 26px;
                text-align: left;
                padding-top: 30px;
            }
        }
        &-contacts{
            max-width: 290px;
            &__title{
                font-size: 15px;
                font-family: $roboto;
                font-weight: bold;
                line-height: 26px;
                color: #fff;
                letter-spacing: 0.5px;
                padding-top: 7px;
            }
            &__location{
                display: block;
                text-decoration: none;
                font-size: 14px;
                font-family: $roboto;
                font-weight: 300;
                line-height: 26px;
                color: #fff;
                letter-spacing: 0.25px;
                text-align: left;
                position: relative;
                padding-top: 30px;
                padding-left: 25px;
                &:hover{
                    color: $blue-color;
                    transition: 0.5;
                } 
                &::before{
                    content: url(/img/footer-location.png);
                    position: absolute;
                    width: 14px;
                    height: 19px;
                    left: 0px;
                    top: 33px;
                }
            }
            &__phone{
                display: inline-block;
                text-decoration: none;
                font-size: 14px;
                font-family: $roboto;
                font-weight: 300;
                line-height: 26px;
                color: #fff;
                letter-spacing: 0.25px;
                text-align: left;
                padding-top: 20px;
                padding-left: 25px;
                position: relative;
                &:hover{
                    color: $blue-color;
                    transition: 0.5;
                }
                &::before{
                    content: url(/img/footer-phone.png);
                    position: absolute;
                    width: 14px;
                    height: 19px;
                    left: 0px;
                    top: 23px;
                }
            }
        }
        &-subscribe{
            max-width: 290px;
            &__title{
                font-size: 15px;
                font-family: $roboto;
                font-weight: bold;
                line-height: 26px;
                color: #fff;
                letter-spacing: 0.5px;
                padding-top: 7px;
                padding-bottom: 30px;
            }
            &__form{
                display: flex;
                flex-direction: row;
                align-items: center;
                input{
                    height: 45px;
                    width: 210px;
                    font-size: 14px;
                    font-family: $roboto;
                    font-weight: 300;
                    color:#9e97b0;
                    padding: 0px 15px;
                    background-color: rgba(0,0,0,0);
                    outline: none;
                    border: 1px solid #9e97b0;
                    margin-right: 10px;
                    &:hover{
                        border-color: $blue-color;
                        transition: 0.5;
                    } 
                }
                button{
                    background-color: #9e97b0;
                    opacity: 0.5;
                    outline: none;
                    text-decoration: none;
                    border: none;
                    width: 70px;
                    height: 45px;
                    &:hover{
                        border: 2px solid $blue-color;
                        transition: 0.5;
                        cursor: pointer;
                    }
                }
            }
            &__links{
                padding-top: 25px;
                padding-left: 0px;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                li{
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    padding: 11px;
                    border: 1px solid #fff;
                    border-radius: 100%;
                    &:hover{
                        border-color: $blue-color;
                        transition: 0.5;
                    }
                    a{
                        display: block;
                        width: 16px;
                        height: 16px;
                        text-align: center;                  
                    }
                }
            }
        }
    }
    &__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 0px;
            li{
                margin-right: 30px;
                a{
                    text-decoration: none;
                    font-size: 14px;
                    font-family: $roboto;
                    line-height: 26px;
                    letter-spacing: 0.25px;
                    color: #fff;
                    &:hover{
                        color: $blue-color;
                        transition: 0.5;
                    }
                }
            }
        }
        &-copyright{
            text-decoration: none;
            font-size: 14px;
            font-family: $roboto;
            line-height: 26px;
            letter-spacing: 0.25px;
        }
    }
}