@import 'normalize.scss';

// === Veriables ===
$roboto: 'Roboto', sans-serif;

$hammersmith: 'Hammersmith One', sans-serif;

$playfair: 'Playfair Display', serif;

$blue-color: #09c0bb;

$black-color: #413d4b;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// === / Veriables ===

// === Шаблоны ===
    %blue-button {
        display: inline-block;
        font-family: $hammersmith;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: $blue-color;
        border: 1px solid $blue-color;
        border-radius: 1px;
        padding: 10px 15px 10px 15px;
    }
// === / Шаблоны ===

*{
    box-sizing: border-box;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    color: #fff;
    background: url(../img/header-background.png) no-repeat 50% 50%;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 20px;
    &-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        &__logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: $blue-color;
            width: 128px;
            height: 50px;
            &-text{
                font-family: $roboto;
                font-size: 30px;
                font-weight: 100;
            }
        }
        &__nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-link{
                text-decoration: none;
                color: #fff;
                font-size: 13px;
                font-family: $roboto;
                font-weight: 900;
                margin-left: 20px;
                &:hover{
                    color: $blue-color;
                    transition: 0.2s;
                }
            }
        }
    }
    &-promo {
        max-width: 770px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            font-family: $playfair;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 0.32px;
            margin-top: 160px;
            position: relative;
            &:after{
                position: absolute;
                content: '';
                border: 1px solid $blue-color;
                color: $blue-color;
                width: 50px;
                top: 60px;
                right: 46%;
            }
        }
        &__subtitle{
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.7px;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
        &__button{
            @extend %blue-button;
        }
    } 
}

@media (max-width: $screen-xs-max) {
    .header-menu{
        padding-top: 20px;
        &__logo{
            width: 64px;
            height: 25px;
            &-text{
                font-size: 20px;
            }
        }
        &__nav{
            display: none;
        }
    }
    .header-promo{
        &__title{
            font-size: 24px;
            margin-top: 120px;
            text-align: center;
            &:after{
                width: 50px;
                right: 43%;
            }
        }
        &__subtitle{
            font-size: 12px;
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max){
    .header-menu{
        padding-top: 20px;
        &__logo{
            width: 64px;
            height: 25px;
            &-text{
                font-size: 20px;
            }
        }
        &__nav{
            &-link{
                font-size: 12px;
                margin-left: 10px;
            }
        }
    }
}

.story{
    color: $black-color;
    padding: 70px 0px;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        &__description{
            max-width: 540px;
            &-title{
                font-family: $playfair;
                font-size: 22px;
                font-weight: 700;
                color: $black-color;
                letter-spacing: 1.1px;
                margin-bottom: 25px;
            }
            &-text{
                font-family: $roboto;
                font-size: 14px;
                font-weight: 400;
                color: $black-color;
                letter-spacing: 0.42px;
                margin-bottom: 30px;
            }
            &-button a{
                @extend %blue-button;
                &:hover{
                    color: #13102d;
                    background-color: $blue-color;
                    transition: 0.5s;
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .story{
        padding: 20px 0px;
        &-wrapper{
            flex-direction: column;
            align-items: center;
            &__image{
                padding-bottom: 10px;
            }
            &__image img{
                width: 150px;
                height: 150px;
            }
            &__description{
                &-title{
                    font-size: 20px;
                }
                &-text{
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .story{
        padding: 40px 0px;
        &-wrapper{
            &__image{
                padding-top: 30px;
            }
            &__image img{
                width: 180px;
                height: 180px;
            }
            &__description{
                padding-left: 20px;
            }
        }
    }
}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .story{
        padding: 40px 0px;
        &-wrapper{
            &__description{
                padding-left: 20px;
            }
        }
    }
}

.video{
    background: url(../img/video-image.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 200px 0px;
    color: #fff;
    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image{
            margin-bottom: 30px;
        }
        &__title{
            font-family: $roboto;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.8px;
        }
    }
}

.expertise{
    color: $black-color;
    padding: 70px 0px 30px 0px;
    &-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        &__title{
            font-family: $playfair;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            margin-bottom: 15px;
            position: relative;
            &::after{
                position: absolute;
                content: ' ';
                border: 1px solid $black-color;
                width: 50px;
                color: $black-color;
                top: 85px;
                right: 30%;
            }
        }
        &__subtitle{
            color: #2f2d35;
            font-family: $playfair;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.05px;
        }
    }
    &-content{
        display: flex;
        flex-direction: column;
        &__row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &:first-child{
                border-bottom: 1px solid #bfc1c980;
            }
            &-item{
                max-width: 320px;
                max-height: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 35px 35px 35px 35px;
                &:first-child{
                    border-right: 1px solid #bfc1c980;
                }
                &:last-child{
                    border-left: 1px solid #bfc1c980;
                }
                &__title{
                    font-family: $roboto;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0.7px;
                    text-align: center;
                    padding: 10px 0;
                }
                &__subtitle{
                    font-family: $roboto;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.7px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .expertise{
        padding: 30px;
        &-top{
            padding-bottom: 20px;
            text-align: center;
        }
        &-content{
            &__row{
                flex-direction: column;
                align-items: center;
                &:first-child{
                    border: none;
                }
                &-item{
                    &:first-child{
                        border: none;
                    }
                    &:last-child{
                        border: none;
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max){
    .expertise{
        padding: 40px 0;
        &-top{
            padding-bottom: 40px;
        }
        &-content{
            flex-direction: row;
            justify-content: center;
            &__row{
                flex-direction: column;
                &:first-child{
                    border: none;
                }
                &-item{
                    &:first-child{
                        border: none;
                    }
                    &:last-child{
                        border: none;
                    }
                }
            }
        }
    }
}

.team{
    background: url(/img/team-background.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 60px 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    &-top{
        &__title{
            font-family: $playfair;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            margin-bottom: 16px;
            text-align: center;
            position: relative;
        }
        &__subtitle{
            font-family: $playfair;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.05px;
            color: #f9f9f9;
            text-align: center;
            margin-bottom: 65px;
        }
    }
    &-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__item{
            width: 220px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #e1e1e1;
            &-image img{
                width: 220px;
                height: auto;
            }
            &-name{
                font-family: $roboto;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.7px;
                color: #fff;
                padding-top: 20px;
                padding-bottom: 10px;
            }
            &-post{
                font-family: $roboto;
                font-size: 13px;
                font-weight: 300;
                color: #fafafa;
                padding-bottom: 25px;
            }
        }
    }
    &-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        &__title{
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
            color: #f3f3f3;
            padding-bottom: 25px;
        }
        &__button a{
            @extend %blue-button;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .team{
        padding: 30px 0;
        &-top{
            &__title{
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
        &-content{
            flex-direction: column;
            align-items: center;
            &__item{
                margin-bottom: 15px;
            }
        }
        &-footer{
            padding-top: 30px;
            &__title{
                text-align: center;
            }
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .team{
        padding: 30px 0;
        &-content{
            flex-wrap: wrap;
            justify-content: space-around;
            &__item{
                margin: 15px
            }
        }
        &-footer{
            padding-top: 40px;
        }
    }
}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .team{
        padding: 50px 0;
        &-content{
            flex-wrap: wrap;
            justify-content: space-around;
            &__item{
                margin: 15px
            }
        }
        &-footer{
            padding-top: 40px;
        }
    }
}

.works{
    padding: 70px 0;
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 70px;
        &__title{
            font-family: $playfair;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            color: $black-color;
        }
        &__link{
            position: relative;
        }
        &__link a{
            text-decoration: none;
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            color: $black-color;
            letter-spacing: 0.7px;
            &:hover{
                color: $blue-color;
                transition: 0.2s;
            }
        }
        &__link img{
            position: absolute;
            top: 3px;
            right: -15px;
        }
    }
    &-content{
        height: 300px;
        &__item img{
            width: 100%;
            height: 300px;
        }
    }
    &-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &-button a{
        margin-top: 70px;
        @extend %blue-button;
        &:hover{
            color: #13102d;
            background-color: $blue-color;
            transition: 0.5s;
        }
    }
}
@media (max-width: $screen-xs-max) {
    .works{
        padding: 40px 0;
        &-top{
            padding-bottom: 40px;
            flex-direction: column;
            &__title{
                margin-bottom: 10px;
            }
        }
    }
}

.comments{
    background: url(../img/comments-bg.png) 0 0 no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px 0;
    & .comments__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__slider-big{
        max-width: 775px;
        margin-bottom: 30px;
        &__item{
            text-align: center;
            outline: none;
            color: #fff;
            &-text{
                font-size: 16px;
                font-family: $playfair;
                line-height: 26px;
                letter-spacing: 0.25px;
                font-weight: 400;
                margin-bottom: 30px;
            }
            &-author{
                font-size: 14px;
                font-family: $roboto;
                line-height: 22px;
                letter-spacing: 0.5px;
                font-weight: bold;
            }
            &-post{
                font-size: 13px;
                font-family: $roboto;
                line-height: 22px;
                font-weight: 300;
                color: #a09ab4;
            }
        }
    }
    &__slider-small{
        position: relative;
        padding: 0 30px;
        max-width: 350px;
        &__item{
            opacity: 0.4;
            text-align: center;
            outline: none;
            &.slick-center{
                opacity: 1;
            }
        }
        & .slick-arrow{
            position: absolute;
            top: 50%;
            margin: -15px 0 0 0;
            z-index: 10;
            font-size: 0;
            width: 15px;
            height: 30px;
            outline: none;
            border: none;
            color: #fff;
            &:hover{
                cursor: pointer;
            }
            &.slick-prev{
                left: 0;
                background: url('../img/comments-arrow-left.png') 0 0 / 100% no-repeat;
            }
            &.slick-next{
                right: 0;
                background: url('../img/comments-arrow-right.png') 0 0 / 100% no-repeat;
            }
            &.slick-disabled{
                opacity: 0.2;
            }
        }
    }
    & .slick-list{
        overflow: hidden;
    }
    & .slick-track{
        display: flex;
    }
}

@media (max-width: $screen-xs-max) {
    .comments{
        &__slider-big{
            max-width: 320px;
        }
        &__slider-small{
            max-width: 280px;
            padding: 0px 20px;
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .comments{
        &__slider-big{
            max-width: 560px;
        }
    }
}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .comments{
        &__slider-big{
            max-width: 750px;
        }
    }
}

.form{
    padding: 70px 0px;
    &-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__feedback{
            display: flex;
            flex-direction: column;
            width: 450px;
            &-title{
                font-size: 22px;
                font-family: $playfair;
                font-weight: bold;
                color: $black-color;
                margin-bottom: 35px;
            }
            &-form{
                display: flex;
                flex-direction: column;
                input{
                    height: 45px;
                    padding: 0px 20px;
                    font-size: 14px;
                    font-family: $roboto;
                    font-weight: 300;
                    color: #a09ea5;
                    outline: none;
                    border: 1px solid #e5e5e5;
                    margin-bottom: 25px;
                    &:hover{
                        border-color: $blue-color;
                        transition: 0.5;
                    }
                }
                textarea{
                    height: 200px;
                    resize: none;
                    padding: 15px 20px;
                    font-size: 14px;
                    font-family: $roboto;
                    font-weight: 300;
                    color: #a09ea5;
                    outline: none;
                    border: 1px solid #e5e5e5;
                    margin-bottom: 25px;
                    &:hover{
                        border-color: $blue-color;
                        transition: 0.5;
                    }
                }
                button{
                    @extend %blue-button;
                    width: 120px;
                    background-color: #fff;
                    &:hover{
                        color: #13102d;
                        background-color: $blue-color;
                        transition: 0.5s;
                        cursor: pointer ;
                    }
                }
            }
        }
        &__clients{
            width: 400px;
            &-title{
                font-size: 22px;
                font-family: $playfair;
                font-weight: bold;
                color: $black-color;
                margin-bottom: 35px;
            }
            &-content{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &__column-one{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        margin-bottom: 50px;
                    }
                }
                &__column-two{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .form{
        &-wrapper{
            flex-direction: column;
            align-items: center;
            &__feedback{
                width: 300px;
            }
            &__clients{
                order: -1;
                text-align: center;
                width: 300px;
                &-content{
                    padding: 0px 20px;
                    &__column-one img{
                        max-width: 110px;
                        height: auto;
                    }
                    &__column-two img{
                        max-width: 110px;
                        height: auto;
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .form{
        &-wrapper{
            &__feedback{
                width: 300px;
                padding-right: 30px;
            }
            &__clients{
                text-align: center;
                width: 300px;
                &-content{
                    &__column-one img{
                        max-width: 110px;
                        height: auto;
                    }
                    &__column-two img{
                        max-width: 110px;
                        height: auto;
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .form{
        &-wrapper{
            &__feedback{
                padding-right: 30px;
            }
        }
    }
}

.footer{
    background: url(/img/footer-bg.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 65px 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    &__info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-logo{
            max-width: 290px;
            &__logo{
                font-size: 30px;
                font-family: $roboto;
                font-weight: 100;
                color: $blue-color;
                position: relative;
                padding-left: 54px;
                &::before{
                    content: url(/img/header-logo.png);
                    position: absolute;
                    width: 44px;
                    height: 50px;
                    left: 0px;
                    top: -5px;
                }
            }
            
            &__text{
                font-size: 14px;
                font-family: $roboto;
                font-weight: 300;
                color: #fff;
                line-height: 26px;
                text-align: left;
                padding-top: 30px;
            }
        }
        &-contacts{
            max-width: 290px;
            padding: 0px 10px;
            &__title{
                font-size: 15px;
                font-family: $roboto;
                font-weight: bold;
                line-height: 26px;
                color: #fff;
                letter-spacing: 0.5px;
                padding-top: 7px;
            }
            &__location{
                display: block;
                text-decoration: none;
                font-size: 14px;
                font-family: $roboto;
                font-weight: 300;
                line-height: 26px;
                color: #fff;
                letter-spacing: 0.25px;
                text-align: left;
                position: relative;
                padding-top: 30px;
                padding-left: 25px;
                &:hover{
                    color: $blue-color;
                    transition: 0.5;
                } 
                &::before{
                    content: url(/img/footer-location.png);
                    position: absolute;
                    width: 14px;
                    height: 19px;
                    left: 0px;
                    top: 33px;
                }
            }
            &__phone{
                display: inline-block;
                text-decoration: none;
                font-size: 14px;
                font-family: $roboto;
                font-weight: 300;
                line-height: 26px;
                color: #fff;
                letter-spacing: 0.25px;
                text-align: left;
                padding-top: 20px;
                padding-left: 25px;
                position: relative;
                &:hover{
                    color: $blue-color;
                    transition: 0.5;
                }
                &::before{
                    content: url(/img/footer-phone.png);
                    position: absolute;
                    width: 14px;
                    height: 19px;
                    left: 0px;
                    top: 23px;
                }
            }
        }
        &-subscribe{
            max-width: 290px;
            &__title{
                font-size: 15px;
                font-family: $roboto;
                font-weight: bold;
                line-height: 26px;
                color: #fff;
                letter-spacing: 0.5px;
                padding-top: 7px;
                padding-bottom: 30px;
            }
            &__form{
                display: flex;
                flex-direction: row;
                align-items: center;
                input{
                    height: 45px;
                    max-width: 210px;
                    font-size: 14px;
                    font-family: $roboto;
                    font-weight: 300;
                    color:#9e97b0;
                    padding: 0px 15px;
                    background-color: rgba(0,0,0,0);
                    outline: none;
                    border: 1px solid #9e97b0;
                    margin-right: 10px;
                    &:hover{
                        border-color: $blue-color;
                        transition: 0.5;
                    } 
                }
                button{
                    background-color: #9e97b0;
                    opacity: 0.5;
                    outline: none;
                    text-decoration: none;
                    border: none;
                    width: 70px;
                    height: 45px;
                    &:hover{
                        border: 2px solid $blue-color;
                        transition: 0.5;
                        cursor: pointer;
                    }
                }
            }
            &__links{
                padding-top: 25px;
                padding-left: 0px;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                li{
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    padding: 11px;
                    border: 1px solid #fff;
                    border-radius: 100%;
                    &:hover{
                        border-color: $blue-color;
                        transition: 0.5;
                    }
                    a{
                        display: block;
                        width: 16px;
                        height: 16px;
                        text-align: center;                  
                    }
                }
            }
        }
    }
    &__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 0px;
            li{
                margin-right: 30px;
                a{
                    text-decoration: none;
                    font-size: 14px;
                    font-family: $roboto;
                    line-height: 26px;
                    letter-spacing: 0.25px;
                    color: #fff;
                    &:hover{
                        color: $blue-color;
                        transition: 0.5;
                    }
                }
            }
        }
        &-copyright{
            text-decoration: none;
            font-size: 14px;
            font-family: $roboto;
            line-height: 26px;
            letter-spacing: 0.25px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .footer{
        padding: 30px 0px;
        &__info{
            flex-direction: column;
            &-logo{
                max-width: 400px;
            }
            &-contacts{
                max-width: 400px;
                &__title{
                    padding-top: 10px;
                }
                &__location{
                    padding-top: 10px;
                    &::before{
                        left: 0px;
                        top: 13px;
                    }
                }
            }
            &-subscribe{
                max-width: 400px;
                &__title{
                    padding-top: 20px;
                }
            }
        }
        &__footer{
            flex-direction: column;
            padding-top: 40px;
            ul{
                justify-content: space-between;
                li{
                    margin-right: 0px;
                    padding: 0 10px;
                    a{
                        font-size: 12px;
                    }
                }
            }
            &-copyright{
                font-size: 12px;
            }
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .footer{
        padding: 30px 0px;
        &__info{
            flex-wrap: wrap;
        }
    }
}